@inject ITelemetryService _service
@using Microsoft.AspNetCore.Components.Authorization

<h3>ServoMotorControl</h3>

<AuthorizeView Policy="Write">
    <Authorized>
        <MudContainer>
            <MudButton Variant="Variant.Filled" @onclick='() => ServoMotor("on")' Color="Color.Primary">Turn On</MudButton>
            <MudButton Variant="Variant.Filled" @onclick='() => ServoMotor("off")' Color="Color.Primary">Turn Off</MudButton>
        </MudContainer>
    </Authorized>
</AuthorizeView>

@code {
    private void ServoMotor(string input)
    {
        _service.ServoMotor(input);
    }
}
